<div class=" profile-template container" ng-controller="activateAggrigatorController as activateAggrigatorController">
<div  ><h1 class="dashboard-heading ">Service Aggrigator</</h1></div>
<div class="col-md-12 col-xl-12 card  ">
<form name="dbprofileForm" id="dbprofileForm"
									 method="post" class=" dbprofileForm" role="form" ng-controller="activateAggrigatorController">
									<div class="form-group">

										<label class="control-label no-padding-right"
											for="aggrigatorId"> Select Aggrigator</label>
										<div>
											<span class="block input-icon input-icon-right"> <select
												class="form-control" placeholder="Select one" name="email"
												ng-model="activateAggrigatorController.dbprofile.email"
												validator="required" focus>
													<option ng-repeat="test in activateAggrigatorController.aggregatorsList" value="{{test.email}}">{{test.email}}</option>
											</select>
											</span>
										</div>
									</div>
									
									<div class="form-group">
										<label class="control-label no-padding-right"
											for="dbName"> DataBase Name</label>
										<div >
											<span class="block input-icon input-icon-right"> <input
												type="text" class="form-control"
												placeholder="Please enter Database Name" name="dbName"
												ng-model="activateAggrigatorController.dbprofile.dbName"
												validator="required" focus />

											</span>
										</div>
									</div>


									<div class="form-group">

										<label class="control-label no-padding-right"
											for="dbType"> Select DataBase type</label>
										<div >
											<span class="block input-icon input-icon-right"> <select
												class="form-control" placeholder="Select one" name="dbType"
												ng-model="activateAggrigatorController.dbprofile.dbType"
												validator="required" focus>
													<option value="mysql">SQL Server</option>
											</select>
											</span>
										</div>
									</div>
									
									<div class="form-group">
										<label class="control-label no-padding-right"
											for="dbURL"> DataBase Host Name</label>
										<div>
											<span class="block input-icon input-icon-right"> <input
												type="text" class="form-control"
												placeholder="Please enter URL where DB is hosted" name="hostName"
												ng-model="activateAggrigatorController.dbprofile.hostName"
												validator="required" focus />

											</span>
										</div>
									</div>

									<div class="form-group">
										<label class="control-label no-padding-right"
											for="dbPortNumber"> DataBase Port Number</label>
										<div >
											<span class="block input-icon input-icon-right"> <input
												type="text" class="form-control"
												placeholder="Please enter Database Port Number" name="portNumber"
												ng-model="activateAggrigatorController.dbprofile.portNumber"
												validator="number" focus  />

											</span>
										</div>

									</div>
									<div class="form-group">
										<label class=" control-label no-padding-right"
											for="dbUserName"> DataBase User Name</label>
										<div>
											<span class="block input-icon input-icon-right"> <input
												type="text" class="form-control"
												placeholder="Please enter Database User Name" name="userName"
												ng-model="activateAggrigatorController.dbprofile.userName"
												validator="required" focus />

											</span>
										</div>

									</div>
									<div class="form-group">
										<label class=" control-label no-padding-right"
											for="dbPassword"> DataBase Password</label>
										<div >
											<span class="block input-icon input-icon-right"> <input
												type="text" class="form-control"
												placeholder="Please enter Database Password" name="password"
												ng-model="activateAggrigatorController.dbprofile.password"
												validator="required" focus />

											</span>
										</div>

									</div>
								

									<div class="form-group btn-group">
										<div >
											<div class="col-sm-8 col-sm-offset-2 ">
												<button angular-ripple type="submit" id='submit_button_id'
													class="width-35 pull-right btn btn-sm custom-button"
													ng-click="activateAggrigatorController.activate(activateAggrigatorController.dbprofile)"
													data-ng-disabled="dbprofileForm.$invalid">

													Activate</button>
											</div>
										</div>
									</div>

								</form>
   
</div>

