

<div id="wrapper"
	ng-controller="dashboardController as dashboardController">

	<!-- Sidebar -->
	<div id="sidebar-wrapper">


		<div id="accordian">
			<ul>
				<li class="sidebar-brand"><a href="#"> LOGO </a></li>
				<li class="second-li" ui-sref="main.dashboard">
					<h3 angular-ripple>
						<span class="icon-dashboard"><i class="fa fa-tachometer"></i></span>Dashboard
					</h3>

				</li>
				<!-- we will keep this LI open by default -->
				<li class="active">
					<h3 angular-ripple>
						<span class="icon-tasks"><i class="fa fa-tasks"></i></span>Service Provider
					</h3>

				</li>
				<li>
					<h3 angular-ripple>
						<span class="icon-calendar"><i
							class="fa fa-calendar-check-o"></i></span>Bills
					</h3>

				</li>
				<li>
					<h3 angular-ripple>
						<span class="icon-heart"><i class="fa fa-star"></i></span>Customer
					</h3> <!--  <ul>
                <li><a href="#">Global favs</a></li>
                <li><a href="#">My favs</a></li>
                <li><a href="#">Team favs</a></li>
                <li><a href="#">Settings</a></li>
            </ul> -->
				</li>
			</ul>
		</div>
	</div>
	<div ng-include="'app/components/dashboard/dashboard-header.html'"
		ng-controller="dashboardController as dashboardController"></div>
	<!-- /#sidebar-wrapper -->

	<!-- Page Content -->
	<div id="page-content-wrapper">
		<div class="container-fluid dashboard">
			<div class="row">
								<div>
					<span></span>
				</div>
				<div data-ui-view></div>
			</div>
			
		</div>
	</div>
	<!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->


<!-- Menu Toggle Script -->
<script>

	$(document).ready(function() {
		$("#accordian h3").click(function() {
			//slide up all the link lists
			$("#accordian ul ul").slideUp();
			//slide down the link list below the h3 clicked - only if its closed
			if (!$(this).next().is(":visible")) {
				$(this).next().slideDown();
			}
		})
	})
</script>
