<nav  class="navbar navbar-default dashboard-header" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="col-md-12">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle menu-toggle " side-bar-toggle >
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button> 
         	 <!-- <a class="navbar-brand dashboard-heading" href="#">LOGO</a>  -->
         	 <div style="    margin-top: 17px;" class="download">
					<h4>Please download your documents</h4>
				</div>
				<div class="download">
					<span><a href="DownloadTemplate/download/{{tenantId}}"
						target="_blank" class="btn">Download Zip</a></span>
				</div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               
                <ul class="nav navbar-nav navbar-right notification">
                	
                    <li class="dropdown">
                        <a  data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-cog"></i> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            <li><a ui-sref="main.dashboard.profile">User Profile</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>