
<div>
    <div class="row" ng-controller="signUpController as signUpController">
        
        <div class="container login-box ">
     <div>
        <div class="login-heading">
            <h1>Signup From </h1>
        </div>
      
        <div>
            <div id="login-box">
                <div class="widget-body">
                    <div class="widget-main">
                        <form name="signupForm" id="loginForm" class="" role="form">
                        <div class="form-group">
                            <label class="col-sm-12 control-label no-padding-right" for="name">First Name</label>
                                <div class="col-sm-12">
                                    <span class="block input-icon input-icon-right">
                                     <input type="text" class="form-control" placeholder="Name" ng-model="signUpController.signup.firstName" focus validator="required"/>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                            <label class="col-sm-12 control-label no-padding-right" for="name">Last Name</label>
                                <div class="col-sm-12">
                                    <span class="block input-icon input-icon-right">
                                     <input type="text" class="form-control" placeholder="Name" ng-model="signUpController.signup.lastName" validator="required" />
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12 control-label no-padding-right" for="email">Email</label>
                                <div class="col-sm-12">
                                    <span class="block input-icon input-icon-right">
                                        <input type="text" class="form-control" placeholder="Email" name="email" ng-model="signUpController.signup.email"  validator="email"/>
                                        
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12 control-label no-padding-right" for="password">Password</label>
                                <div class="col-sm-12">
                                    <span class="block input-icon input-icon-right">
                                <input type="password" class="form-control" name = "password" placeholder="Password" ng-model="signUpController.signup.password" validator="required" />
                                
                            </span>
                                </div>
                            </div>
                            
                             <div class="form-group">
                                <label class="col-sm-12 control-label no-padding-right" for="password">Confirm Password</label>
                                <div class="col-sm-12">
                                    <span class="block input-icon input-icon-right">
                                <input type="password" class="form-control" name = "confirmPassword" placeholder="Confirm Password" ng-model="signUpController.signup.confirmPassword" validator="match=password" />
                                
                            </span>
                                </div>
                            </div>
                          
                            <div class="form-group">
                            <div class="col-md-12">
                            <div class="col-sm-8 col-sm-offset-2">
                                    <button type="submit" class="width-35 pull-right btn btn-sm custom-button" ng-click="signUpController.signUp(signUpController.signup)" data-ng-disabled="signupForm.$invalid" angular-ripple>
                                        Sign Up
                                    </button>
                                </div>
                            </div>
                            </div>
                            <div class="form-group ">
                                    <div class="col-md-12 signup-link">
                                        Already have an account? <a href="#/signup">Sign in</a>
                                    </div>
                            </div>
            
                                  </form>
                            
                            </fieldset>
                            
                           
                      
                    </div>
                </div>
            </div>
        </div> 

    </div>

        </div>
    </div>
</div>
<!-- /.page-content -->