<div ng-include="'partials/dashboard-header.html'" ng-controller="dashboardController as dashboardController"></div>
	
    <div id="wrapper" ng-controller="dashboardController as dashboardController">
	
        <!-- Sidebar -->
        <div id="sidebar-wrapper" >
     
          
                      <div id="accordian">
    <ul>
        <li >
            <h3 angular-ripple><span class="icon-dashboard"></span>Dashboard</h3>
            <ul>
                <li><a href="#">Reports</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="#">Graphs</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </li>
        <!-- we will keep this LI open by default -->
        <li class="active">
            <h3 angular-ripple><span class="icon-tasks"></span>Tasks</h3>
            <ul>
                <li><a href="#">Today's tasks</a></li>
                <li><a href="#">Urgent</a></li>
                <li><a href="#">Overdues</a></li>
                <li><a href="#">Recurring</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </li>
        <li>
            <h3 angular-ripple><span class="icon-calendar"></span>Calendar</h3>
            <ul>
                <li><a href="#">Current Month</a></li>
                <li><a href="#">Current Week</a></li>
                <li><a href="#">Previous Month</a></li>
                <li><a href="#">Previous Week</a></li>
                <li><a href="#">Next Month</a></li>
                <li><a href="#">Next Week</a></li>
                <li><a href="#">Team Calendar</a></li>
                <li><a href="#">Private Calendar</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </li>
        <li>
            <h3 angular-ripple><span class="icon-heart"></span>Favourites</h3>
            <ul>
                <li><a href="#">Global favs</a></li>
                <li><a href="#">My favs</a></li>
                <li><a href="#">Team favs</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </li>
    </ul>
</div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Lorem Ipsumr</h1>
                        <p>
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
 type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
  remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum..</p>
                     
                      
                               
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->


    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
        $(document).ready(function(){
    $("#accordian h3").click(function(){
        //slide up all the link lists
        $("#accordian ul ul").slideUp();
        //slide down the link list below the h3 clicked - only if its closed
        if(!$(this).next().is(":visible"))
        {
            $(this).next().slideDown();
        }
    })
})
  
    </script>
