<div class="header one-edge-shadow">
      <div class="container">
      <div class="header-grids">
        <div class="logo">
          <h1><a  href="#"><span>LO</span>GO</a></h1>
        </div>
        <!--navbar-header-->
        <div class="header-dropdown">
          <div class="emergency-grid">
            <ul>
              <li class="call">
                  <div class="dropdown-grids">
                   <div id="loginContainer">
                     <a href="#/login" id="loginButton"><span>Login</span>
                     </a>
                   </div>
                </div>
              </li>
              <li class="call">
                  <div class="dropdown-grids">
                   <div id="loginContainer">
                     <a href="#/signup" id="loginButton"><span>Sign Up</span>
                     </a>
                   </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="nav-top">
        
        
        <div class="clearfix"> </div>
      </div>
      </div>
    </div>