 <div class="banner hotels-banner one-edge-shadow"">
            <div ng-include="'partials/search-banner.html'"></div>
        </div>
  <div class="container" style="margin-top:20px;">
  <div class="banner-bottom-info">
        <h3>Check out our various weekend getaway deals here!</h3>
      </div>
      <div class="banner-bottom-grids">
        <div class="col-md-4 weekend-grids">
          <div class="weekend-grid">
            <a href="products.html">
              <img src="images/w1.jpg" alt="" />
              <div class="deals-info-grid">
                <div class="deals-grids">
                  <div class="col-md-8 deals-rating">
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  </div>
                  <div class="col-md-4 deals-price">
                    <p class="now">$ 600</p>
                    <p>$ 450</p>
                  </div>
                  <div class="clearfix"> </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4 weekend-grids">
          <div class="weekend-grid">
            <a href="products.html">
              <img src="images/w2.jpg" alt="" />
              <div class="deals-info-grid">
                <div class="deals-grids">
                  <div class="col-md-8 deals-rating">
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  </div>
                  <div class="col-md-4 deals-price">
                    <p class="now">$ 530</p>
                    <p>$ 290</p>
                  </div>
                  <div class="clearfix"> </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4 weekend-grids">
          <div class="weekend-grid">
            <a href="products.html">
              <img src="images/w3.jpg" alt="" />
              <div class="deals-info-grid">
                <div class="deals-grids">
                  <div class="col-md-8 deals-rating">
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  </div>
                  <div class="col-md-4 deals-price">
                    <p class="now">$ 810</p>
                    <p>$ 750</p>
                  </div>
                  <div class="clearfix"> </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="banner-bottom-grids">
        <div class="col-md-4 weekend-grids">
          <div class="weekend-grid">
            <a href="products.html">
              <img src="images/w4.jpg" alt="" />
              <div class="deals-info-grid">
                <div class="deals-grids">
                  <div class="col-md-8 deals-rating">
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  </div>
                  <div class="col-md-4 deals-price">
                    <p class="now">$ 770</p>
                    <p>$ 340</p>
                  </div>
                  <div class="clearfix"> </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4 weekend-grids">
          <div class="weekend-grid">
            <a href="products.html">
              <img src="images/w1.jpg" alt="" />
              <div class="deals-info-grid">
                <div class="deals-grids">
                  <div class="col-md-8 deals-rating">
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  </div>
                  <div class="col-md-4 deals-price">
                    <p class="now">$ 750</p>
                    <p>$ 540</p>
                  </div>
                  <div class="clearfix"> </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4 weekend-grids">
          <div class="weekend-grid">
            <a href="products.html">
              <img src="images/w2.jpg" alt="" />
              <div class="deals-info-grid">
                <div class="deals-grids">
                  <div class="col-md-8 deals-rating">
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  </div>
                  <div class="col-md-4 deals-price">
                    <p class="now">$ 760</p>
                    <p>$ 490</p>
                  </div>
                  <div class="clearfix"> </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
     
  </div>
 