<!DOCTYPE html>
<html lang="en">
<head>
<title>Registration Form</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="scripts/register.js"></script>
</head>
<body>
	<div class="container">
		<h2>Registration form</h2>
		<div data-ng-app="registerApp">
			<form data-ng-submit="submit()" name="registerForm" data-role="form"
				id="registerForm" data-ng-controller="registerAppController">

				<div class="form-group">
					<label for="firstname">First Name:</label> <input type="text"
						class="form-control" id="firstname" placeholder="First Name"
						data-ng-model="firstName" name="firstname" required="required">
				</div>

				<div class="form-group">
					<label for="firstname">Last Name:</label> <input type="text"
						class="form-control" id="lastName" placeholder="Last Name"
						data-ng-model="lastName" name="lastName" required="required">
				</div>

				<div class="form-group">
					<label for="email">Email:</label> <input type="email"
						class="form-control" id="email" placeholder="Email"
						data-ng-model=email name="email" required="required">
				</div>

				<div class="form-group">
					<label for="firstname">Password:</label> <input type="password"
						class="form-control" id="password" placeholder="Password"
						data-ng-model="password" name="password" required="required">
				</div>
				
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>

</body>
</html>